h3{
	font-size:2em;
	letter-spacing: 0.1em;
}

.iText{
	margin:0 40px;
	padding:40px 50px;
	background-color:rgba(71,124,62,0.3);
	border-radius:30px;
	display:flex;
	align-items: center;
	text-align:center;
	}

.iExpo{
	width:200px;
	}

.iExpo img{
	padding-bottom:15px;
	height:135px;
	margin:auto;
}

.iExpo div{
	height:75px;
	display:flex;
	align-items: center;
}

.iNext{
	margin:0 30px;
}

.item p{
	margin:30px;
}

.container .text{
	text-align:center;
	font-size:1.1em;
	margin-bottom:80px;
}

/* お香ここから */
.iItem{
	display:flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.iItem img{
	height:128px;
	margin:0 auto;
}
.iItem1{
	text-align:center;
	display:grid;
	grid-template-rows:330px auto;
	grid-template-columns:200px 200px 200px 200px 200px;
}
.iTitle{
	font-size:2em;
	letter-spacing: 0.1em;
}
.iMenuText{
	font-size:0.9em;
	line-height:1.4;
	height:60px;
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.iiMenuText{
	font-size:0.9em;
	line-height:1.4;
}
.incenceText{
	margin:40px 30px;
}
.g7{
	grid-column:1/2;
	grid-row:1/2;
}
.g8{
	grid-column:2/3;
	grid-row:1/2;
}
.g9{
	grid-column:3/4;
	grid-row:1/2;
}
.g10{
	grid-column:4/5;
	grid-row:1/2;
}
.g11{
	grid-column:5/6;
	grid-row:1/2;
}

.g12{
	grid-column:4/6;
	grid-row:2/3;
	padding:0 20px;
	margin:15px 7px 0;
	background-color:rgba(71,124,62,0.2);
	border-radius:20px;
}
.g12 .menuTitle{
	margin:0 0 20px 0;
}
.g12 .amount{
	margin:0;
	width:61px;
}
.g12 .g12flex{
	display:flex;
    justify-content: center;
    align-items: center;
}
.g12contents{
	width:225px;
	margin:0 10px;
}

.menuTitle{
	color:#477c3e;
	font-size:1.4em;
	margin:30px auto 20px;
}
.amount{
	font-size:1.4em;
	margin:20px 0 0;
	}
/* お香ここまで */