.container{
	flex-direction: column;
}

.container .text{
	text-align:center;
	font-size:1.1em;
	margin-bottom:80px;
}

.teaMenu .item, .iGrid, .sweets{
	display:table-cell;
	display:flex;
}
/* ティーメニュー */
h3{
	font-size:2em;
	background:url(../images/title_back.png) no-repeat;
	width:300px;
	height:170px;
	display:flex;
	align-items: center;
	justify-content: center;
	margin:0 auto 40px;
}
.itemText{
	text-align:center;
	margin:auto;
	}
.itemText li, .itemTextS li{
	list-style-type:none;
}
.menuTitle{
	color:#477c3e;
	font-size:1.4em;
	margin:30px auto 20px;
}
.amount{
	font-size:1.4em;
	margin:20px 0 0;
	}
.itemGrid{
	display:grid;
    grid-template-rows:420px 70px 200px 120px;
	grid-template-columns:380px 90px 60px 470px;
}

.g1{
	grid-row:1/2;
	grid-column: 2/5;
}
.g2{
	grid-row:1/2;
	grid-column: 1/2;
}
.g3{
	grid-row:3/5;
	grid-column: 1/3;
}
.g4{
	grid-row:3/5;
	grid-column: 4/5;
	margin:0 20px 0 0;
}
.g4 ul, .g6 ul{
	display: flex;
}
.g4 ul li, .g6 ul li{
	margin:0 2px;
}
.menuLi1{
	margin-left:2em;
}
.menuLi2{
	margin-left:1em;
}
.g4 p{
	font-size:0.9em;
}
.menuBox{
	background:url(../images/waku.png) no-repeat;
	height:140px;
	margin-bottom:20px;
}
.menuBox .menuTitle{
	margin:0;
	padding:30px 0 10px 50px;
	text-align: left;
}

.itemImg{
	margin:auto 0;
}

.sweets{
	margin:0 auto;
}

.sweets2{
	display:flex;
}
.sweets2 .menuTitle{
	margin:0;
}
.sweets2 ul li{
	line-height:35px;
}
.itemTextS{
	text-align:center;
	padding-right:50px;
	font-size:0.9em;
}
.h3{
	font-size:2em;
	background:url(../images/title_back2.png) no-repeat;
	width:250px;
	height:142px;
	display:flex;
	align-items: center;
	justify-content: center;
	margin:0 auto 40px;
}

/* ティーメニューここまで */

/* お香ここから */
.iItem{
	display:flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.iItem img{
	height:128px;
	margin:0 auto;
}
.iItem1{
	text-align:center;
	display:grid;
	grid-template-rows:330px auto;
	grid-template-columns:200px 200px 200px 200px 200px;
}
.iTitle{
	font-size:2em;
	letter-spacing: 0.1em;
}
.iMenuText{
	font-size:0.9em;
	line-height:1.4em;
	height:60px;
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.iiMenuText{
	font-size:0.9em;
	line-height:1.4em;
}
.incenceText{
	margin:40px 30px;
}
.g7{
	grid-column:1/2;
	grid-row:1/2;
}
.g8{
	grid-column:2/3;
	grid-row:1/2;
}
.g9{
	grid-column:3/4;
	grid-row:1/2;
}
.g10{
	grid-column:4/5;
	grid-row:1/2;
}
.g11{
	grid-column:5/6;
	grid-row:1/2;
}
.g12{
	grid-column:4/6;
	grid-row:2/3;
	padding:0 20px;
	margin:15px 7px 0;
	background-color:rgba(71,124,62,0.2);
	border-radius:20px;
}
.g12 .menuTitle{
	margin:0 0 20px 0;
}
.g12 .amount{
	margin:0;
	width:61px;
}
.g12 .g12flex{
	display:flex;
    justify-content: center;
    align-items: center;
}
.g12contents{
	width:225px;
	margin:0 10px;
}
/* お香ここまで */