/* html{
		font-size:62.5%; 
} */

*{
	margin:0;
	padding:0;
}

/* ページ全体ここから */
body{
	background:url(../images/background.png);
	line-height:1.6em;
	font-family:"Noto Sans JP",serif;
	color:#361717;
	}

h1 img {
	width: 100%;
}
a:link, a:visited{
	color: #477c3e;	
	cursor: pointer;
}
a:hover, a:active{
	color: #361717;
	cursor: pointer;
  }
/* ページ全体ここまで */

/* gnavi ここから */
.gnavi{
	width:1000px;
	margin:10px auto;
	display:flex;
	align-items: center;
	text-align:center;
	font-size:0.9em;
}
.gnavi li{
	list-style-type: none;
}
.b{
	height:50px;
	font-size:1.1em;
	width: 150px;
	margin-left:20px;
	display:flex;
	align-items: center;
	justify-content:center;
}
.b a{
	display:block;
	text-decoration: none;
	border-radius:30px;
	width: 150px;
	height:50px;
	display:flex;
	align-items: center;
	justify-content:center;
	transition: 0.4s ;
}
.logo{
}
.b a:hover{
	background-color:rgba(71,124,62,0.3);
	border-radius:30px;
}
.this{
	display:block;
	background-color:rgba(71,124,62,0.3);
	border-radius:30px;
	width: 150px;
	height:50px;
	font-size:1.1em;
	margin-left:20px;
	display:flex;
	align-items: center;
	justify-content:center;
}
/* gnavi ここまで */

/* container ここから */
.container{
	width:1080px;
	margin:0 auto;
	}
.item{
	padding:70px 40px;
	background-image:url(../images/brackets_1.png),url(../images/brackets_2.png);
	background-repeat:no-repeat,no-repeat;
	background-position:right top, left bottom;
	margin-bottom:80px;
	}	
h2{
	font-size:1.5em;
	color:#477c3e;
	font-weight:normal;
	border-bottom:3px #361717 solid;
	width:400px;
	margin-left:270px;
	margin-bottom:10px;
	padding-bottom:15px;
	text-align:right;
	}
.expo{
	letter-spacing:0.2em;
	font-weight:bold;
	text-align:center;
	line-height:180px;
}
.expoText{
	font-size:1.5em;
	background:#ffffff;
}	
/* containerここまで */

/* footerここから */
.footer{
	font-size:0.8em;
	padding-top:50px;
	margin: 0 auto;
	background:#f0e8d3;
}
.footerList{
	margin: auto;
	display: flex;
	width: 1000px;
}
.footerBox{
	display: inline-block;
	margin: 0 auto;
}
.footerText{
	display:block;
	width:100%;
	text-align:center;
	height:100px;
	margin-top:50px;
}
.footerDetail{
	text-indent:15px;
}
.footer li{
	list-style-type:none;
}
/* footerここまで */


/* 
maincolor #361717 焦茶
subcolor #f0e8d3 ベージュ
subcolor2 #98c143 logoback
accentcolor #477c3e 抹茶 */